trigger:
  - dev

variables:
  - group: MHHSTest
  - name: version
    value: 0.2.53
  - name: suffix
    value: dev
  - name: buildConfiguration
    value: Debug

stages:
  - stage: BuildAndTest
    jobs:
      - job: Build
        pool:
          vmImage: "Ubuntu-24.04"
        continueOnError: "false"
        steps:
          - checkout: self
            fetchDepth: 0

          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.0.x'
              includePreviewVersions: false

          - task: DotNetCoreCLI@2
            displayName: Restore
            inputs:
              command: restore
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'

          - task: SonarCloudPrepare@3
            inputs:
              SonarCloud: 'SonarCloud'
              organization: 'providor'
              scannerMode: 'dotnet'
              projectKey: 'Providor_mhhs-request-service'
              projectName: 'mhhs-request-service'
              extraProperties: |
                sonar.scanner.scanAll=false
                # Look for ALL OpenCover XMLs produced by test projects
                sonar.cs.opencover.reportsPaths=$(Agent.TempDirectory)/**/coverage.opencover.xml

          - task: DotNetCoreCLI@2
            displayName: Build
            inputs:
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              arguments: "--configuration $(BuildConfiguration)"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'

          - task: DotNetCoreCLI@2
            displayName: Test
            inputs:
              command: test
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'
              publishTestResults: true
              arguments: >
                --configuration $(BuildConfiguration)
                /p:CollectCoverage=true
                /p:CoverletOutputFormat=opencover
                /p:CoverletOutput=$(Agent.TempDirectory)/TestResults/coverage
                /p:Exclude="[*.UnitTests]*"
                /p:Exclude="[*.IntegrationTests]*"

          - task: SonarCloudAnalyze@3
            inputs:
              jdkversion: 'JAVA_HOME_17_X64'

          - task: SonarCloudPublish@3
            inputs:
              pollingTimeoutSec: '300'

          - task: AdvancedSecurity-Dependency-Scanning@1

  - stage: BuildImageAndPush
    jobs:
      - job: Package
        pool:
          vmImage: "Ubuntu-24.04"
        continueOnError: "true"
        steps:
          - task: Docker@2
            displayName: Login to GitLab
            inputs:
              command: login
              containerRegistry: GitLabRegistry

          - task: Docker@2
            displayName: Build
            inputs:
              command: build
              repository: providor/mhhs-request-service
              tags: $(version)-$(suffix)
              arguments:
                --build-arg MHHS_MESSAGING_CONNECTIONSTRING=$(MhhsServiceBusConnectionString)
                --build-arg ELECTRIC_MESSAGING_CONNECTIONSTRING=$(ElectricServiceBusConnectionString)
                --build-arg MESSAGING_REQUESTQUEUENAME=$(MessagingRequestQueueName)
                --build-arg MESSAGING_RESPONSEQUEUENAME=$(MessagingResponseQueueName)
                --build-arg ASSETAPPOINTMENT_QUEUENAME=$(AssetAppointmentQueueName)
                --build-arg ASSETAPPOINTMENTCONFIRMATION_QUEUENAME=$(AssetAppointmentConfirmationQueueName)
                --build-arg ASSETTERMINATION_QUEUENAME=$(AssetTerminationQueueName)
                --build-arg MESSAGING_RESPONSEFROMASSETREGISTERQUEUENAME=$(ResponseFromAssetRegisterQueueName)
                --build-arg MESSAGING_ARCHANGEINENERGISATIONSTATUSQUEUENAME=$(ArChangeInEnergisationStatusQueueName)
                --build-arg ELECTRIC_DATAFLOWS_REQUESTQUEUENAME=$(ElectricDataFlowRequestQueueName)
                --build-arg MHHS_EXTERNAL_DATABASE_CONNECTIONSTRING=$(MhhsExternalDatabaseConnectionString)
                --build-arg MHHS_INTERNAL_DATABASE_CONNECTIONSTRING=$(MhhsInternalDatabaseConnectionString)
                --build-arg USERNAME=$(PatUsername)
                --build-arg PAT=$(PAT)
                --build-arg FEED_URL=$(FeedUrl)
                --build-arg SHARED_FEED_URL=$(SharedFeedUrl)
                --build-arg LOGGING_INGEST_URL=$(LoggingIngestUrl)
                --build-arg LOGGING_API_KEY=$(LoggingApiKey)

          - task: Docker@2
            displayName: Push
            inputs:
              command: push
              containerRegistry: GitLabRegistry
              repository: providor/mhhs-request-service
              tags: $(version)-$(suffix)