trigger:
  - dev

variables:
  - group: MHHSTest
  - name: version
    value: 0.2.53
  - name: suffix
    value: dev
  - name: buildConfiguration
    value: Debug

stages:
  - stage: BuildAndTest
    jobs:
      - job: Build
        pool:
          vmImage: "Ubuntu-24.04"
        continueOnError: "false"
        steps:
          - checkout: self
            fetchDepth: 0

          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.0.x'
              includePreviewVersions: false

          - task: DotNetCoreCLI@2
            displayName: Restore
            inputs:
              command: restore
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'

          - task: SonarCloudPrepare@3
            inputs:
              SonarCloud: 'SonarCloud'
              organization: 'providor'
              scannerMode: 'dotnet'
              projectKey: 'Providor_mhhs-request-service'
              projectName: 'mhhs-request-service'
              extraProperties: |
                sonar.scanner.scanAll=false
                # Look for ALL OpenCover XMLs produced by test projects
                sonar.cs.opencover.reportsPaths=$(Agent.TempDirectory)/**/coverage.opencover.xml

          - task: DotNetCoreCLI@2
            displayName: Build
            inputs:
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              arguments: "--configuration $(BuildConfiguration)"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'

          - task: DotNetCoreCLI@2
            displayName: Test
            inputs:
              command: test
              projects: "$(System.DefaultWorkingDirectory)/**/*.csproj"
              feedsToUse: "config"
              nugetConfigPath: 'nuget.dev.config'
              publishTestResults: true
              arguments: >
                --configuration $(BuildConfiguration)
                /p:CollectCoverage=true
                /p:CoverletOutputFormat=opencover
                /p:CoverletOutput=$(Agent.TempDirectory)/TestResults/coverage
                /p:Exclude="[*.UnitTests]*"
                /p:Exclude="[*.IntegrationTests]*"

          - task: SonarCloudAnalyze@3
            inputs:
              jdkversion: 'JAVA_HOME_17_X64'

          - task: SonarCloudPublish@3
            inputs:
              pollingTimeoutSec: '300'

          - task: AdvancedSecurity-Dependency-Scanning@1

  - stage: BuildImageAndPush
    jobs:
      - job: Package
        pool:
          vmImage: "Ubuntu-24.04"
        continueOnError: "true"
        steps:
          - task: Docker@2
            displayName: Login to GitLab
            inputs:
              command: login
              containerRegistry: GitLabRegistry

          - task: Docker@2
            displayName: Build
            inputs:
              command: build
              repository: providor/mhhs-request-service
              tags: $(version)-$(suffix)
              arguments:
                --build-arg ENV0_ENVIRONMENTTYPE=$(ENV0_ENVIRONMENTTYPE)
                --build-arg ENV0_INPUTPATH=$(ENV0_INPUTPATH)
                --build-arg ENV0_FLAG=$(ENV0_FLAG)
                --build-arg ENV0_OUTPUTTYPE=$(ENV0_OUTPUTTYPE)
                --build-arg ENV0_OUTPUTCOMMAND="$(ENV0_OUTPUTCOMMAND)"
                --build-arg ENV0_OUTPUTPATH=$(ENV0_OUTPUTPATH)
                --build-arg ENV0_DESTINATIONUSERNAME=$(ENV0_DESTINATIONUSERNAME)
                --build-arg ENV0_DESTINATIONPASSWORD=$(ENV0_DESTINATIONPASSWORD)
                --build-arg ENV0_FILEEXT0=$(ENV0_FILEEXT0)
                --build-arg ENV1_ENVIRONMENTTYPE=$(ENV1_ENVIRONMENTTYPE)
                --build-arg ENV1_INPUTPATH=$(ENV1_INPUTPATH)
                --build-arg ENV1_FLAG=$(ENV1_FLAG)
                --build-arg ENV1_OUTPUTTYPE=$(ENV1_OUTPUTTYPE)
                --build-arg ENV1_OUTPUTCOMMAND="$(ENV1_OUTPUTCOMMAND)"
                --build-arg ENV1_OUTPUTPATH=$(ENV1_OUTPUTPATH)
                --build-arg ENV1_DESTINATIONUSERNAME=$(ENV1_DESTINATIONUSERNAME)
                --build-arg ENV1_DESTINATIONPASSWORD=$(ENV1_DESTINATIONPASSWORD)
                --build-arg ENV1_FILEEXT0=$(ENV1_FILEEXT0)
                --build-arg ENV2_ENVIRONMENTTYPE=$(ENV2_ENVIRONMENTTYPE)
                --build-arg ENV2_INPUTPATH=$(ENV2_INPUTPATH)
                --build-arg ENV2_FLAG=$(ENV2_FLAG)
                --build-arg ENV2_OUTPUTTYPE=$(ENV2_OUTPUTTYPE)
                --build-arg ENV2_OUTPUTCOMMAND="$(ENV2_OUTPUTCOMMAND)"
                --build-arg ENV2_OUTPUTPATH=$(ENV2_OUTPUTPATH)
                --build-arg ENV2_DESTINATIONUSERNAME=$(ENV2_DESTINATIONUSERNAME)
                --build-arg ENV2_DESTINATIONPASSWORD=$(ENV2_DESTINATIONPASSWORD)
                --build-arg ENV2_FILEEXT0=$(ENV2_FILEEXT0)
                --build-arg LOGGING_INGEST_URL=$(LoggingIngestUrl)
                --build-arg LOGGING_API_KEY=$(LoggingApiKey)

          - task: Docker@2
            displayName: Push
            inputs:
              command: push
              containerRegistry: GitLabRegistry
              repository: providor/mhhs-request-service
              tags: $(version)-$(suffix)