<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	  <add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
      <add key="Providor.MHHS.Electric" value="https://pkgs.dev.azure.com/Providor/MHHS/_packaging/Providor.MHHS.Electric/nuget/v3/index.json" />
      <add key="Providor" value="https://pkgs.dev.azure.com/Providor/_packaging/Providor/nuget/v3/index.json" />
  </packageSources>
</configuration>